*{
    margin: 0;
    padding: 0;
}

:root{
    --mau-cam: orange;
    --mau-den: black;

    --mau-chu: white;
}

/* ====================================== */
.container-wrap{
    width: 90vw;
    height: 100vh;
}

.header{
    width: 100vw;
    height: 10vh;

    display: flex;
    box-shadow: 1px solid black;
    color: white;
    /* background-color: #393939; */
}

.logo{
    width: 5%; 
    height: 100%;

    background-color: red;
}
.main-narbar{
    width: 95%;
}

.storename{
    width: 100%;
    height: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    color: black;
    /* background-color: black; */
}

.f-button{
    width: 100%;
    height: 50%;

    display: flex;

    background-color: black;
}

.left-but{
    width: 20%;
    height: 100%;
}

.trangchu{
    width: 15%;
    text-align: center;
    /* border-right: 1px solid white; */
} .trangchu:hover{
        background-color: lightcoral;

    }

.right-but{
    width: 80%;
    height: 100%;

    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container-but{
    width: 80%;
    height: 100%;

    display: flex; 
    align-items: center;
    justify-content: center;

    /* background-color: blue; */
    
}

.but1{
    width: 15%;
    text-align: center;
    border-right: 1px solid white;
} .but1:hover{
        background-color: gray;
        font-size: larger;
    }

.but2{
    width: 15%;
    text-align: center;
    border-right: 1px solid white; 
} .but2:hover{
        background-color: gray;
        font-size: larger;
    }

.but3{
    width: 15%;
    text-align: center;
    border-right: 1px solid white; 
} .but3:hover{
        background-color: gray;
        font-size: larger;
    }

.but4{
    width: 15%;
    text-align: center;
    border-right: 1px solid white; 
} .but4:hover{
        background-color: gray;
        font-size: larger;
    }

.but5{
    width: 15%;
    text-align: center;
    border-right: 1px solid white; 
} .but5:hover{
        background-color: gray;
        font-size: larger;
    }

.but6{
    width: 15%;
    text-align: center;
    /* border-right: 1px solid white;  */
} .but6:hover{
        background-color: gray;
        font-size: larger;
    }

.cart{
    margin-left: 15%;
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.trangchu{
    width: 15%;
    height: 100%;

    text-align: center;

    color: white;
    background-color: gray;
}
/* ================================== */
.container-slider{
    margin-top: 5vh;
    width: 100vw;
    height: 75vh;

    background-color: black;
}
.slide-area{
    width: 90%;
    height: 100%;

    overflow: hidden;
    margin: 0 auto;
    
    /* background-color: lightgray; */
}
img{
    width: 100%;
    height: 100%;
}
.cont-slide{
    width: 100%;
    height: 90%;

    display: flex;
}

.lable-slider{

    align-items: center;
    justify-content: center;
    display: flex;
}

.lable-slider label{
    margin-top: 10px;
    border-radius: 50%;

    width: 10px;
    height: 10px;
    border: 2px solid white;
}

.slide-heading{

    width: 100vw;
    height: 10vh;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    background-color: white;
    color: black;
}