*{
    margin: 0;
    padding: 0;
}

:root{
    --mau-cam: orange;
    --mau-den: black;

    --mau-chu: white;
}

/* ====================================== */
.container-wrap{
    width: 100vw;
    height: 100vh;
}

.header{
    width: 100%;
    height: 10%;

    color: white;
    background-color: #393939;
}
.nut{
    display: flex;
    width: 80%;
    height: 50%;
    
}

.chu{
    padding: 3px;

    
}

.storename{
    width: 100vw;
    height: 50%;

    text-align: center;
    padding-top: 5px;

    color: white;
    background-color: black;
}

/* ================================== */
.banner{
    width: 100%;
    height: 10%;

    background-color: #f8ff2f;
}
.content{
    display: flex;

    width: 100%;
    height: 70%;

    background-color: black;
}

.menu-trai{
    width: 10%;
    height: 100%;

    background-color: white;
}

.noidung-chinh{
    width: 90%;
    height: 100%;
}

.footer{
    width: 100%;
    height: 10%;

    background-color: orange;
}


